<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <!-- fname, lname, email, username, password -->
    <%= label :fname, "First Name", class: "data-label" %>: <%= form.text_field :fname, id: "fname", class: "data-value" %><br />
    <%= label :lname, "Last Name", class: "data-label" %>: <%= form.text_field :lname, id: "lname", class: "data-value" %><br />
    <%= label :email, "Email", class: "data-label" %>: <%= form.text_field :email, id: "email", class: "data-value" %><br />
    <%= label :username, "Username", class: "data-label" %>: <%= form.text_field :username, id: "username", class: "data-value" %><br />
    <%= label :password, "Password", class: "data-label" %>: <%= form.password_field :password, id: "password", class: "data-value" %><br />
    <%= form.submit "Register", class: "submit_btn" %>

    <p>Already a user? <%= link_to 'login_form', login_form_path %></p>
  </div>
  
<% end %>
