<!-- ======= views/menu ======= -->

<div id="menu">

    <% puts "**** session[:user_id]: #{session[:user_id]} ****" %>

    <% if session[:user_id] %>
        <%= link_to 'Home', "/", class: "menu_item" %>
        <%= link_to 'Login', login_form_path, class: "menu_item" %>
        <%= link_to 'Directory', users_path, class: "menu_item" %>
        <%= link_to 'Profile', user_path(session[:user_id]), class: "menu_item" %>
        <%= link_to 'Logout', logout_path, class: "menu_item" %>
    <% else %>
        <%= link_to 'Home', "/", class: "menu_item" %>
        <%= link_to 'Login', login_form_path, class: "menu_item" %>
        <%= link_to 'Register', new_user_path, class: "menu_item" %>
    <% end %>

</div>
