<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'New Post', new_user_post_path(@user, @post) %> |
<%= link_to 'Address', new_user_address_path(@user, @address) %> |

<p><%= @user.fname + " " + @user.lname %></p>

<div id="address">
    <% if session[:user_id] == @user.id %>
        <%= link_to 'Edit Address', edit_user_address_path(@user, @address) %>
    <% end %>
    <p> <%= @address.street %> </p>
    <p> <%= @address.city %>, <%= @address.state %> </p>
    <p> <%= @address.zip %> </p>
</div>

<div class="post">
    <% @posts.each do |post| %>
        <% if session[:user_id] == @user.id %>
            <%= link_to 'Edit', edit_user_post_path(@user, post) %>
        <% end %>
        <p> <%= post.title %> </p>
        <p> <%= post.content %> </p>
    <% end %>
</div>
