<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<p><%= @user.fname + " " + @user.lname %></p>


<% @posts.each do |post| %>
    <%= link_to post.title, edit_user_post_path(@user, post) %>
    <%= post.comment %>
<%end%>

<%= link_to 'Posts', user_posts_path(@user) %>
