<%= link_to 'Edit Profile', edit_user_registration_path %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'New Post', new_user_post_path(@user, @post) %> |
<%= link_to 'Address', new_user_address_path(@user, @address) %> |


<div id="user_info">
    <% if @user.fname || @user.lname != nil %>
        <p><%= @user.fname + " " + @user.lname %></p>
    <% end %>
</div>


<div id="address">
    <% if @address != nil %>
            <% if current_user.id == @user.id %>
                <%= link_to 'Edit Address', edit_user_address_path(@user, @address) %>
            <% end %>
            <p> <%= @address.street %> </p>
            <p> <%= @address.city %>, <%= @address.state %> </p>
            <p> <%= @address.zip %> </p>
    <% end %>
</div>

<div class="post">
    <% @posts.each do |post| %>
        <% if current_user.id == @user.id %>
            <%= link_to 'Edit', edit_user_post_path(@user, post) %>
        <% end %>
        <p> <%= post.title %> </p>
        <p> <%= post.content %> </p>
    <% end %>
</div>
