<!-- Code Dump -->

<!-- FORMS ON FORMS ON FORMS -->

<%= label :title, "Title", class: "data-label" %>: <%= form.text_field :title, id: "title", class: "data-value" %><br />
<%= label :content, "Content", class: "data-label" %>: <%= form.text_field :content, id: "content", class: "data-value" %><br />


<div class="actions">
    <% form_for([@user, @post]) do |form| %>
        <!-- title, content -->
        <%= form.text_field :title, id: "title", class: "data-value" %><br />
        <%= form.text_field :content, id: "content", class: "data-value" %><br />
            <input type="hidden" name="post[user_id]" value="<% @user.id %>"
        <%= form.submit "Publish" %>
    <% end %>
</div>

<%= form_with url: new_user_post_path do |form| %>

    <div class="actions">

        <!-- title, content -->
        <%= label :title, "Title", class: "data-label" %>: <%= form.text_field :title, id: "title", class: "data-value" %><br />
        <%= label :content, "Content", class: "data-label" %>: <%= form.text_field :content, id: "content", class: "data-value" %><br />
        <%= form.submit "Publish", class: "submit_btn" %>

    </div>

<% end %>


format.html { redirect_to user_post_path(params[:user_id], params[:post_id]), notice: 'Comment was successfully created.' }
{user_id: params[:user_id], id: params[:post_id]}


<!-- MENU ITEMS -->
        <%= link_to 'Publish', new_user_post_path(user_id, post_id), class: "menu_item") %>

        if session[user] !> 0
            session[user] = nil
        end


<!-- Address: -->

<% @addresses.each do |address| %>
    <%= link_to 'Edit', edit_user_address_path(@user, address) %> |
    <p> <%= address.street %> </p>
    <p> <%= address.city %>, <%= address.state %> </p>
    <p> <%= address.zip %> </p>
<% end %>


<!-- User + Address Form -->
change form type to form_for ->
pass @user and @address in form
add form field to user registration form
add to user controls permit at bottom
permit params
    [:address][:street] etc.
